<!DOCTYPE html>
<html>
<head>
	<title>Ben Manning Web Development</title>
</head>
<body>

	<h2>About</h2>
		<p>I was an Early Childhood Education professional with a passion for better understanding brain development.  While immersing myself in teaching and understanding children I began to develop a need to understand technology as well.  I wanted to find a way to merge these two interests in my career and make a meaningful impact on the world around me.  I began researching ways to better educate myself on Web Development.  After researching various schools and programs I settled on learning programming at General Assembly's Web Development Immersive program.  I am in the process of finishing my program and look to join a company where I can learn and contribute in an effective and engaging manner.</p>

	<h2>Projects</h2>

	<h4>Contact</h4>

</body>
</html>
