body {
	padding-top: 70px;
	background-color: #ffffff;
}

.navbar-default {
	background-color: #000000;
}

.navbar-default .navbar-brand {
	color: #ffffff;
}

#about {
	text-align: center;
	padding-top: 50px;
}

.image {
    padding-top: 30px;
    padding-bottom: 40px;
}

h2 {
	color: #000066;
}

#projects {
	text-align: center;
	padding-top: 50px;
}

#projects-container {
	background-color: #c0c0c0;
	padding-bottom: 70px;
}

p {
	color: #006666;
}
a {
	text-align: right;
}

#contact {
	text-align: center;
	padding-bottom: 14px;
}

.fa {
	font-size: 28px;
	padding-left: 12px;
}